
    * {
      margin: 0px;
    }

    body {
      background-color: #022f59;
    }

    input[type="text"]
    {
      font-family: 'Crimson Text', serif;
      font-size: 8pt;
    }

    button {
      margin-bottom: 10px;
      color: white;
      font-size: 8pt;
      text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
      height: 25px;
      width: 140px;
      border-color: lightblue;
      border-style: outset;
      border-width: 0px;
      border-radius: 3px;
      background: #5ba9d0; /* Old browsers */
      background: -moz-linear-gradient(top, #5ba9d0 0%, #45809e 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #5ba9d0 0%,#45809e 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #5ba9d0 0%,#45809e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
    }

    button:active{
      color: lightgrey;
    }

    p {
      font-family: 'Crimson Text', serif;
      font-size: 90%;
    }

    h1 {
      color: white;
      font-family: 'Crimson Text', serif;
      padding-top: 15px;
      padding-left: 30px;
      font-size: 40px;
    }

    h2 {
      color: #636363;
      font-family: 'Crimson Text', serif;
      padding-top: 30px;
      padding-left: 30px;
      padding-bottom: 50px;
    }

    h3 {
      position: relative;
      top: -12px;
      color: white;
      letter-spacing: 2px;
      font-family: 'Crimson Text', serif;
      padding-left: 30px;
      padding-bottom: 25px;
      font-size: 110%;
    }

    h4 {
      font-size: 140%;
    }

    h5 {
      color: lightblue;
    }

    hr {
    display: block;
    height: 2px;
    border: 0;
    margin: 1em 0;
    padding: 0;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #e7e7e7 25%, #e7e7e7 75%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#e7e7e7 25%,#e7e7e7 75%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#e7e7e7 25%,#e7e7e7 75%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    #search {
      background-image: url(img/searchicon.png);
      background-repeat: no-repeat;
      float: right;
      padding-left: 27px;
      margin-top: 15px;
      margin-right: 20px;
      border-style: solid;
      border-width: 0px;
      border-radius: 15px 15px 15px 15px;
      min-height: 15px;
      max-width: 95px;
      box-shadow: inset 10px 10px 10px -10px rgba(0,0,0,0.3);
    }

    /* Slideshow container */
    .slideshow-container {
      box-sizing:border-box;
      max-width: 1000px;
      position: relative;
      margin: auto;
      clear: both;
      text-align: initial;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

    #circle {
      text-align: center;
      color: lightgrey;
      font-size: 40px;
      width: 49px;
      height: 49px;
      background-color: #333436;
      border-radius: 50%;
      margin: 3px;
      float: left;
    }

    .highlight {
      background-color: orangered;
    }

    .header {
      background-image: radial-gradient(circle at top right, #292a2c, #111312 50%);
      max-width: 960px;
  /* min-height: 620px; */
      margin: auto;
    }

    .navlinks {
      float: right;
      margin-right: 5px;
      position: relative;
      top: -6px;
    }

    .navlinks a {
      padding-right: 15px;
      color: white;
      text-transform: uppercase;
      font-family: 'Crimson Text', serif;
      font-size: 80%;
    }

    .mobilemenu {
      display: none;
      float: right;
      margin-right: 60px;
      position: relative;
      bottom: 10px;
      right: 10px;
    }

    .glow {
      position: absolute;
      top: 0px;
      z-index: -1;
      background-color: rgba(255,255,255,1);
      max-width: 960px;
      width: 960px;
      min-height: 600px;
      border-radius: 20%;
      box-shadow: 0px 7px 230px 30px rgba(255,255,255,1);
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
    }

    .content {
      background-color: white;
      max-width: 960px;
      min-height: 630px;
      margin: auto;
    }

    .main {
      width: 715px;
      box-sizing: border-box;
      padding: 30px;
    }

    .article {
      min-height: 150px;
    }

    .imgbox {
      border-style: double;
      border-width: 5px;
      border-color: #f6f6f6;
      background-color: inherit;
      float: left;
      margin-right: 30px;
      margin-bottom: 20px;
    }

    .articletext {
      border-style: solid;
      border-width: 0px;
      border-color: green;
      padding-left: 180px;
    }

    .sponsors {
      background-color: white;
      max-width: 960px;
      min-height: 500px;
      margin: auto;
    }

    .logoscontainer {
      padding-top: 15px;
      padding-left: 25px;
    }

    .logobox {
      border-style: double;
      border-width: 5px;
      border-color: #f6f6f6;
      background-color: inherit;
      margin: 5px 7px;
      float: left;
    }

    .footer {
      position: relative;
      z-index: 1;
      background-color: #111312;
      max-width: 960px;
      width: 960px;
      min-height: 380px;
      margin: auto;
    }

    .footercontainer{
      padding-top: 30px;
      padding-left: 30px;
      box-sizing: border-box;
      min-width: 320px;
      max-width: 320px;
      min-height: 380px;
      max-height: 380px;
      border-style: solid;
      border-width: 0px;
      border-color: green;
      float: left;
    }

    .footercontainer h4{
      color: white;
    }

    .footercontainer p{
      color: grey;
    }

    .flickr {
      min-height: 75px;
      min-width: 75px;
      max-height: 75px;
      max-width: 75px;
      border-style: solid;
      border-width: 1px;
      border-color: dimgrey;
      margin-right: 5px;
      margin-bottom: 10px;
      float: left;
    }

    .shadow {
      position: relative;
      bottom: 10px;
      z-index: -1;
      background-color: rgba(0,0,0,0.4);
      max-width: 960px;
      width: 960px;
      min-height: 5px;
      margin: auto;
      margin-bottom: 100px;
      border-radius: 100%;
      box-shadow: 0px 7px 40px 30px rgba(0,0,0,0.4);
    }

    .centerbg {
      position: fixed;
      z-index: -2;
      background-color: #2b82af;
      bottom: 0px;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      width: 1480px;
      max-width: 1480px;
      min-height: 100%;
      background: -moz-linear-gradient(left, #022f59 0%, #2b82af 17%, #2b82af 83%, #022f59 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #022f59 0%,#2b82af 17%,#2b82af 83%,#022f59 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #022f59 0%,#2b82af 17%,#2b82af 83%,#022f59 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .ewhite {
      background-color: white;
      box-sizing: border-box;
      float: right;
      width: 15px;
      height: 630px;
    }

    .extra {
      box-sizing: border-box;
      background: linear-gradient(to bottom, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
      max-width: 250px;
      width: 250px;
      height: 630px;
      padding: 30px;
      float: right;
    }

    .SoMe {
      float: right;
      padding-top: 45px;
      padding-right: 15px;
    }

    .Me2 {
      position: relative;
      right: 7px;
      padding-top: 25px;
    }

    .pagination {
      min-height: 33px;
    }

    /* Pagination links */
    .pagination a {
      color: black;
      float: left;
      margin: 3px;
      padding: 4px 8px;
      text-decoration: none;
      background-color: lightgrey;
      transition: background-color .3s;
    }

/* Style the active/current link */
    .pagination a.active {
      background-color: red;
      color: white;
    }

/* Add a grey background color on mouse-over */
    .pagination a:hover:not(.active) {
      background-color: #ddd;
    }

    .context {
  /*    border-style: solid;
      border-color: red;
      border-width: 2px; */
    }

    @media only screen and (max-width: 1480px){
      .centerbg {
        position: fixed;
        z-index: -2;
        background-color: #2b82af;
        bottom: 0px;
        right: 0;
        left: 0;
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        max-width: 100%;
        min-height: 100%;
      }
    }

    @media only screen and (max-width: 975px){
      .glow {
        width: 100%;
      }

      .footer {
        width: 100%;
        min-height: 720px;
      }

      .footercontainer p {
        padding-right: 30px;
      }

      .footercontainer {
        max-width: 100%;
        min-height: 100px;
        width: 100%;
      }

      .shadow {
        max-width: 100%;
        width: 100%;
        margin-bottom: 0px;
        display: none;
      }

    }

    @media only screen and (max-width: 951px){

      .sponsors {
        min-height: 600px;
      }

      h1 {
        text-align: center;
        color: white;
        font-family: 'Crimson Text', serif;
        padding-top: 15px;
        padding-left: 0px;
        font-size: 40px;
      }

      h3 {
        text-align: center;
        position: relative;
        top: -12px;
        color: white;
        letter-spacing: 2px;
        font-family: 'Crimson Text', serif;
        padding-left: 0px;
        padding-bottom: 25px;
        font-size: 110%;
      }

      .navlinks {
        display: none;
      }

      .mobilemenu {
        display: block;
      }

    }


    @media only screen and (max-width: 799px){

      .sponsors {
        min-height: 700px;
      }

      .main {
        width: 100%;
      }

      .footer {
        min-height: 800px;
      }

    }

    @media only screen and (max-width: 647px){

      h1 {
        padding-bottom: 0px;
      }

      h3 {

      }

      .mobilemenu {
        margin-bottom: 14px;
      }

      .sponsors {
        min-height: 900px;
      }

      .ewhite {
        width: 0;
      }

      .extra {
        display: none;
        max-width: 1000px;
        width: 100%;
      }

      .footer {
        min-height: 860px;
      }

    }

    @media only screen and (max-width: 585px){

      h1 {
        font-size: 200%;
      }

      h3 {
        font-size: 90%;
      }

    }

    @media only screen and (max-width: 495px){

      .header {
        text-align: center;
      }

      #search {

        float: none;
        margin-right: 0px;
        margin-left: 0px;

      }

      .mobilemenu {
          display: block;
          float: none;
          margin-right: 0px;
          margin: 10px;
          position: relative;
          bottom: 5px;
          right: 0px;
      }

      .SoMe {
        display: none;
      }

      h1 {
        clear: both;
        font-size: 120%;
      }

      h2 {
        padding-right: 30px;
      }

      h3 {
        display: none;
        clear: both;
        font-size: 5%;
      }

      .sponsors {
        min-height: 1300px;
      }

      .footer {
        min-height: 990px;
      }

    }

    @media only screen and (max-width: 375px){

      .articletext {
        padding-left: 0px;
      }

      .imgbox {
        display: none;
        min-height: 0px;
        min-width: 0px;
        border-style: double;
        border-width: 0px;
        border-color: #f6f6f6;
        background-color: inherit;
        float: left;
        margin-right: 0px;
        margin-bottom: 0px;
      }


    }

    @media only screen and (max-width: 343px){

      .sponsors {
        min-height: 2550px;
      }

      .footer {
        min-height: 1030px;
      }

    }
